
.about-me-content-1{
    width: 100vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    /* background-color: red; */
    /* margin-top: 1vw; */
}

.about-me-content-1 h1{
    font-size: 4.5vw;
    color: aliceblue;
    margin: 0;
    padding: 1vw 1vw;
    font-family: 'Leckerli One', cursive;

}
.abt-me-box{

    width: 40vw;
    height: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
    align-items: center;
    padding:1vw 1vw;
    /* background-color:#2904a122; */
}
.abt-me-box p{
    color: white;
    text-align: justify;
    font-size: 1.4vw;
    color: white;
    font-family:'Signika Negative';
    font-weight:lighter;
    letter-spacing:0;
    word-spacing:normal;
    padding: 2vw 3vw;
    justify-self: center;
    background:linear-gradient(90deg,#1f027717,#3e018f19);
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px);
    border-radius: 1vw;
    /* border: 0.5px solid #2904a1; */
    /* background-color: pink; */
}   
.abt-me-box p span{

    /* font-size: 1.7vw; */
    color: rgb(96, 217, 247);
   
}
.abt-me-box::before{
    content: '';
    width: 30vw;
    height: 10vw;
    background:linear-gradient(45deg,#2904a1,#5a2cf1);
    border-radius: 0.7vw;
    position:absolute;
    left: -1vw;
    top: -3vw;
    z-index: -1;
}
.abt-me-box::after{
    content: '';
    width: 30vw;
    height: 10vw;
    background:linear-gradient(45deg,#2904a1,#5a2cf1);
    border-radius: 0.7vw;
    position: absolute;
    right: -1vw;
    bottom: -3vw;
    z-index: -1;
}
@media (max-width:700px){
    .about-me-content-1{
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        /* background-color: red; */
    }
    .about-me-content-1 h1{
        font-size: 5.9vh;
        font-weight: bolder;
        /* background-color: pink; */
        /* padding: 1vw 2vw; */
    }
    .abt-me-box{
        width: 80vw;
        height: 60vh;
    }

.abt-me-box p{
    text-align:center;
    font-size: 2.3vh;
    line-height: 3vh;
    color: white;
    font-family:'Signika Negative';
    font-weight:lighter;
    border: 1px solid #2904a1;
}
.abt-me-box p span{
    font-size: 2.5vh;
    /* font-style:italic; */
    
}
.abt-me-box::before{
        /* display: none; */
        content: '';
        width: 35vh;
        height: 10vh;
        position: absolute;
        left: 2vh;
        top: 1vh;
        z-index: -1;
}
.abt-me-box::after{
        /* display: none; */
        content: '';
        width: 35vh;
        height: 10vh;
        border-radius: 0.7vw;
        position:absolute;
        right: 2vh;
        bottom: 1vh;
        z-index: -1;
    }
}



/* for making blur block-size */
    /* background: rgba(62, 3, 87, 0.11); */
    /* background:linear-gradient(180deg,#2904a1,#5a2cf1); */
    /* backdrop-filter: blur(50px); */