.home-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48vw;
    /* padding-top: 3%; */

}

@media(max-width:700px){
    .home-page{
        display: flex;
        flex-direction: column-reverse;
        justify-content:end;
        align-items: center;
        width: 100vw;
        height: 100%;
        /* padding-top: 5%; */
        /* background-color: blue; */
    }
    
}

