.Projectpg{
    /* background-color: pink; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.project-page{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100%;
    gap: 2vw;
    backdrop-filter: blur(100%);
    /* margin: 5% 0; */
    /* background-color: red; */
}
.mywork-title h1{ 
    font-size: 4vw;
    color: white;
    font-family: 'Leckerli One', cursive;
    margin-top: 3vw;
    /* background-color: yellow; */
}

@media (max-width:700px){
    .project-page{
        width: 90vw;
        grid-template-columns: repeat(1,1fr); 
        gap: 4vw;
    }
    .mywork-title h1{
        font-size: 10vw;
    }
}