
.contactme-form{
    width: 100%;
    height:100%;
    flex-basis: 60%;
    /* background-color:crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-family:'Signika Negative';
}

.inputarea{
    position: relative;
    line-height: 60px;  
    width: 80%;
    height: 10%;
}
input{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color:skyblue; */
    /* width: max-content; */
    outline: none;
    font-size: 1.5vw;
    color: white;
    /* padding: 0vw 1.5vw; */
    /* padding-left:1vw; */
    border-radius: 0.5vw;
    border: 0.3vw solid #2904a1;
    background: transparent;
    transition: 0.1s ease;

}
.inputarea label{
    
    position: absolute;
    /* background:#22028d transparent; */
    /* background-color:black; */
    font-size: 1.3vw;
    color: white;
    padding: 0 1vw;
    margin: 0 1vw;
    transition: 0.2s ease;

}
.messagearea{
    width: 80%;
    height: 20%;
    margin-bottom: 1vw;
    /* width: 45vw; */
    /* height: 12vw; */
    position: relative;
    /* background-color: pink; */

}
textarea{
    position: absolute;

    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.3vw;
    /* font-family:'sans-serif'; */
    color: white;
    line-height: 1.2vw;
    border-radius: 10px;
    border: 3px solid #2904a1;
    background: transparent;
    transition: 0.1s ease;
    /* background-color: yellow; */

}
.messagearea label{
    position: absolute;
    font-size: 1.3vw;
    color: white;
    padding-top: 1vw;
    padding-left: 2vw;
    transition: 0.2s ease;
    transform-origin: top left;
  pointer-events: none;
/* background-color: #1c2841; */
    
    
}
.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Signika Negative';
    width: 80%;
    height: 10%;
    /* margin-top: 1vw; */
    /* background-color: yellow; */
}

.contactme-form button{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.3vw;
    color: white;
    border-radius: 10px;
    border: 3px solid #2904a1;
    background-color: #5a2cf15a;
    transition: 0.1s ease;
    cursor: pointer;
    font-family:'Signika Negative';
}


input:focus,
input:valid{
    color: white;
     z-index: 1111;
}
input:focus + label,
input:valid + label{
   
    color: #5a2cf1;
    font-weight: 700;
    /* height: 40px; */
    /* line-height: 30px; */
    /* padding: 0 12px; */
    transform: translate(-15px,-37px) scale(0.90);
}

textarea:focus,
textarea:valid{
    color: white;
     z-index: 1111;
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  color: #5a2cf1;
  font-weight: 700;
  transform: translate(5px, -27px) scale(0.75);
}
textarea::placeholder {
    color: transparent;
  }