.contactme-left{
    width: 100%;
    height: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    /* align-items:flex-end; */
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: orange; */
}
.getintouch-intro{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:30%;
    /* background-color:palevioletred; */
    /* padding-bottom: 1vw; */
    /* align-items: center; */
}
.getintouch-logo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 80%;
    height: 30%;
    /* background-color: navy; */
}
.getintouch-logo h1{
    font-size: 3vw;
    padding-bottom: 1vw;
    color: #5a2cf1;
    font-family: 'Leckerli One', cursive;
}
.getintouch-logo img{
    width: 15%;
    height: 15%;
}
.getintouch-intro p{
    font-size: 1.89vw;
    font-family:'Signika Negative';
    /* background-color: yellow; */
    margin-top: 0.5vw;
}

.contactmeinfo{
    margin-top: 1vw;
    /* background-color: blue; */
    font-family:'Signika Negative';
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.phone-email{
    /* background-color: rgb(191, 221, 42); */
    /* gap: 1vw; */
    line-height: 2vw;
    width: 80%;
    height: 30%;
}
.my-contact-email{
    /* background-color: skyblue; */
    font-size: 1.4vw;
    font-weight:lighter;
}
.phone-email-info{
    /* background-color: salmon; */
    font-size: 1.4vw;
    font-weight:bolder;
}
.getintouch-socialmedia{
    width: 85%;
    /* background-color: pink; */
}

@media(max-width:700px){
    .contactme-left{
        width: 100%;
        height: 100%;
        flex-basis: 40%;
        color: white;
        gap: 4vh;
        /* margin: 2vh; */
        /* background-color: rgb(0, 119, 128); */
       
    }
    .getintouch-intro{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:30%;
    /* background-color:palevioletred; */
    gap: 3vw;

    }
    
.getintouch-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    /* background-color: navy; */
}
    .getintouch-logo h1{
        /* width: 100%;
        height: 100%; */
        font-size: 4.5vh;
        color: #5a2cf1;
        font-family: 'Leckerli One', cursive;
        /* background-color:yellow; */
    }
    .getintouch-logo img{
        width: 15%;
        height: 15%;
        /* background-color: red; */
    }
    .getintouch-intro p{
        font-size: 2.3vh;
    font-family:'Signika Negative';
    /* background-color: orange; */
    }
    .contactmeinfo{
        /* background-color: blue; */
        font-family:'Signika Negative';
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4vw;
    }
    
.phone-email{
    line-height: 3vh;
    width: 80%;
    height: 30%;
    
    /* background-color: rgb(247, 0, 255); */
}
.my-contact-email{
    /* background-color: skyblue; */
    font-size: 2.2vh;
    font-weight:lighter;
}
.phone-email-info{
    /* background-color: salmon; */
    font-size: 2.4vh;
    font-weight:bolder;
}
.getintouch-socialmedia{
    /* width: 85%; */
    margin-top: 3vh;
    /* background-color: pink; */
}
}