.img-block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    /* min-height:300px; */
    /* background-color: red; */
}
.right{
    /* transform: translateY(15%); */
    height: 60%;
    width: 70%;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 0vw;
    /* background-color: yellow; */
}
.right img{
    /* max-width: 100%; */
    height: 100%;
    width: 100%;
    transition: .6s;
    object-fit:cover;
    animation:imgg 2s ease-in-out infinite;
    /* background-color: blueviolet; */
}
@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media(max-width:700px){
    .img-block{
        /* padding-top: 12vw; */
        display: flex;
        align-self: center;
        /* justify-content: flex-end; */
        /* justify-self: center; */
        /* min-height: 45vh; */
        width:70%;
        height:70%;
        /* background-color: orange; */
    }
    
.right{
    /* min-height: 4vh; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    /* background-color: blueviolet; */
}
.right img{
    /* max-width: 100%; */
    height: 100%;
    width: 100%;
    transition: .6s;
    object-fit:cover;
    animation:imgg 2s ease-in-out infinite;
    /* background-color: blueviolet; */
}
}