.project{
    display: flex;
    width:25vw;
    height: 15vw;
    /* border: 0.5px solid #5a2cf1 ; */
    background:linear-gradient(45deg,#10013f,#3703e3);
    /* background: radial-gradient(circle at -1% 70%, rgb(159, 39, 251) 5%, rgba(60,0,102,1) 100%); */
    /* background:radial-gradient(90deg,#2904a1,#5a2cf1); */
    justify-content: space-between;
    /* background-image: url(C:\Users\HP\Desktop\React\Portfolio\Portfolio\src\Images\backgroundimg.png); */
    /* background-image: url(C:\Users\HP\Desktop\React\Portfolio\Portfolio\src\Images\9153.png); */
    /* background: radial-gradient(circle at 40% 47%,rgb(50,5,199,100) 10%,rgb(41,4,161,100) 100%); */

}

.project:hover .project-img {
    width:0%;
    height:0%;
    transition: 1s ease;
}

.project:hover .project-info{
    width: 100%;
    transition: 1s ease;   
    border-radius: 0; 
} 

.project-info{
    /* display: block; */
    width: 40%;
    height: 100%;
    border-radius: 0px 20% 20% 0px;
    /* background-color: pink; */
    /* background: radial-gradient(circle at 0% 50%, rgb(159, 39, 251) 5%, rgba(60,0,102,1) 100%); */
    background:linear-gradient(90deg,#2904a1,#5a2cf1);
    /* box-shadow: 0.4vw 0vw  rgb(69, 1, 118);      */
    transition: 1s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position:absolute;
    visibility: visible;
    transition: 1s ease;
    width:100%;
    height: 100%;
    font-family:'Signika Negative';
    /* background-color: yellow; */
}
.title h4{
    color: white;
    font-size: 2vw;
    text-align: center;
    padding:0px;
    margin: 0px;
}
.title p{
    color: white;
    text-align: center;
    font-size: 1vw;
}
.project-img{
    width:40%;
    height: 60%;
    align-self: center;
    border-radius: 10px;
    transform: translateX(-18%);
    transition: 1s ease;
    object-fit: cover;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    position:absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    gap: 0;
    font-family:'Signika Negative';
    /* justify-content: center; */
    /* background-color: pink; */
}
.desc h5{
    color: white;
    /* background-color: yellow; */
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.desc p{
   
    padding: 3%;
    color: white;
    font-size: 1vw;
    text-wrap:wrap;
    /* text-align: center; */
}
.desc Button{
    width: 7vw;
    height: 2.2vw;
    border: none;
    border-radius:5vw;
    font-size: 1.3vw;
    color: white;
    background:linear-gradient(90deg,#2904a1,#5a2cf1);
}
.project:hover .project-info .desc{
    visibility:visible;
    transition: 1s ease-in;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background:linear-gradient(45deg,#08001f,#30197d);
}

.project:hover .project-info .title{
    visibility:hidden;
    transition: 0s ease;
}
@media(max-width:700px){
    .project{
        width:90vw;
        height: 60vw; 
    }
    .title h4{
        color: white;
        font-size: 3vh;
        text-align: center;
        padding:0px;
        margin: 0px;
    }
    .title p{
        color: white;
        font-size: 2vh;
        text-align: center;
    }
    .desc h5{
        color: white;
        /* background-color: yellow; */
        font-size: 2.5vh;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .desc p{
        padding: 2%;
        /* text-align: justify; */
        margin: 2vw;
        color: white;
        text-align: center;
        font-size: 1.8vh;
    }
    .desc Button{
        width: 10vh;
        height: 3vh;
        border: none;
        font-size: 1.7vh;
        border-radius: 5vh;
        color: white;
        /* border: 1px solid white; */
        /* background:linear-gradient(45deg,#08001f,#30197d); */
    }
}
