
.social-media{
   
    width: max-content;
    height: 100%;
    padding: 0vw 0vw;
    display: flex;
    /* gap: 1vw; */
    height: 4vw;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
    /* padding-left: 2vw; */
}
.social-media img{
   width: 4vw;
   height: 4vw;
}
.social-media img:hover{
    transform:scale(1.1);
}


@media(max-width:700px){
    .social-media img{
        width: 15vw;
        height: 15vw;
     }
}
