@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Signika+Negative&display=swap');
body {
  margin: 0;
  overflow-x: hidden;
  font-family:'Segoe UI', 'Roboto', 'Oxygen','Ubuntu','Cantarell','Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif ,'Signika Negative' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
